.welcome{
	text-align: center;
}
.what-we-do{
	text-align: center;

}
.find{
	color: blue;
}
.part{
	color: blue;
}
.end{
	color: orange;
}
.dec{
	color: gray;
}
.find-us{
	background-color: gray;
}
.come{
	color: blue;
}
.smart{
	color: grey;
}
.fundi{
	color:orange;
}
body{
	/*background-image: url("images/house.jpg");*/
}
.head{
	padding: initial;
}
.form_create{
	text-align: center;
	padding-top: 0px;
	background-repeat: no-repeat;
	background-image: url("images/constructors.jpg");
	font-family: fantasy;
	font-max-size: large;
}
#fom{
	padding-top: 200px;
	color: #5a0099;
	font-size: large;
}



